html {
    height: 100px;
  }
  
  body {
    height: 100px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .veil {
    width: 0;
    height: 0;
    border-right: 80px solid transparent;
    border-bottom: 140px solid #000;
    border-left: 80px solid transparent;
    position: relative;
  }
  
  .veil:after {
    width: 0;
    height: 0;
    border-right: 90px solid transparent;
    border-bottom: 160px solid #fff;
    border-left: 90px solid transparent;
    position: absolute;
    top: -13.5px;
    left: -90px;
    z-index: -1;
    content: '';
  }
  
  .stone {
    width: 95px;
    height: 95px;
    border: 5px solid #fff;
    border-radius: 50%;
    position: relative;
    left: -53px;
    bottom: -41px;
    transition: left 1s;
  }
  
  .veil:hover > .stone {
    left: -200px;
  }
  
  .wand {
    width: 5px;
    height: 145px;
    background: #fff;
    position: absolute;
    top: 0px;
    left: -2.5px;
    transition: left 1s;
  }
  
  .veil:hover > .wand {
    left: 110px;
  }